.UserCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 95vw;
    height: 20em;
    border: solid black 0.1em;
}

.userImage{
    height: 15em;
    width: 15em;
    border: solid black 0.1em;
}

.userTitles {
    display: flex;
    flex-direction: column;
    align-items:flex-start
}
.userData {
    display: flex;
    flex-direction: column;
    align-items:flex-start
}

.adminButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18em;
    width: 25em;
}

.modifyButton, .deleteUserButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 20em;
    background-color: rgb(90, 90, 90);
    border-radius: 0.5em;
    border: solid black 0.1em;
    color: white;
    cursor:pointer;
}

.deleteUserButton{
    background-color: rgb(194, 0, 0);
}