.UserCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 20em;
}

/* .user{
    justify-content: space-between;
} */
.userImage{
    margin-left: -30em;
    height: 15em;
    width: 15em;
}

.userTitles {
    margin-left: -60em;
    display: flex;
    flex-direction: column;
    align-items:flex-start
}