.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: black;
    color: white;
    height: 5em;
    width: 100vw;
}
.navlink{
    all: unset;
    margin: 3em;
    font-size: 1.5em;
}
.navlink:hover{
    color:rgb(0, 174, 255);
    justify-content: center;
    align-items: center;
    margin: 3em;
    cursor: pointer;
}
.menu_header{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 75em;
}

.home-search{
    display: flex;
}
.searchbar{
    background-color: brown;
    width: 35em;
}
.personal{
    display: flex;
}