.header{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    background-color: black;
    color: white;
    height: 5em;
    width: 100vw;
}
.navlink{
    all: unset;
    margin: 3em;
    font-size: 1.5em;
}
.navlinkp{
    all:unset;
    font-size: 1.6em;
    cursor:pointer;
}
.navlink:hover{
    color:rgb(0, 174, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
    cursor: pointer;
}
.menu_header{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 75em;
}
/* .ilogin{
    display: flex;
    justify-content: center;
    align-items: right;
    height: 3em;
    width: 3em;
    cursor: pointer;
} */
.logo{
    margin: 1em;
    width: 4em;
    height: 4em;
}
.busqueda{
    width: 12em;
    height: 2em;
}
.vistaadmin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right:8em;
    width: 20em;
}
.adminp{
    font-size:1.5em;
}