.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: black;
    color: white;
    height: 5em;
    width: 100vw;
}
.navlink{
    all: unset;
    margin: 3em;
    font-size: 1.5em;
}
.searchbar{
    justify-content:end;
    align-items: flex-end;
    width: 35em;
    height: 2em;
    background-color: rgb(104, 57, 57);
    margin-right: 10em;
}
.personal{
    display: flex;
    align-items:center;
}

.navlink:hover{
    color:rgb(0, 174, 255);
    justify-content: center;
    align-items: center;
    margin: 3em;
    cursor: pointer;
}
.home-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65em;
    height: 5em;
}
.headerImage{
    width: 2em;
    height: 2em;
    border-radius: 2em;
    margin-left: -5.5em
}