.login{
    background-color: white;
    min-height: 90vh;
    height: fit-content;
    width: 100vw;   
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    height: 2.5em;
    width: 32em;
    margin-top: 1em;
    background-color: white;
    color: black;
    border-radius: 0.2em;
    cursor:pointer;
}

.sendButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 25.5em;
    background-color: darkred;
    color: white;
    margin-top: 1em;
    border-radius: 0.2em;
    cursor:pointer;
}

.msgError{
    color: red;
}

